@charset "UTF-8";
/*!
 * ress.css • v4.0.0
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
  color: inherit;
  /* Correct border color in Firefox. */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit;
  /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0;
  /* Remove text indentation in Chrome, Edge, and Safari */
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled=true] {
  cursor: default;
}

html {
  font-size: 62.5%;
  font-family: "Helvetica Neue", "Arial", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
}

p,
a {
  font-size: 1.4rem;
  line-height: 1.75;
  text-decoration: none;
}

.l-header-nav {
  display: flex;
  list-style: none;
  position: absolute;
  top: 15px;
  right: 32px;
  max-width: 245px;
  width: 100%;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .l-header-nav {
    top: 20px;
  }
}
.l-header-nav .nav-item {
  padding: 5px 12px;
  color: #FFF;
  font-size: 1.44rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(18, 18, 18, 0.16);
}
@media screen and (min-width: 769px) {
  .l-header-nav .nav-item {
    transition: all ease-in-out 0.3s;
  }
  .l-header-nav .nav-item:hover {
    color: #E03131;
  }
}

.l-footer {
  margin: 185px 0 0;
}
@media screen and (max-width: 768px) {
  .l-footer {
    margin: 145px 0 0;
  }
}
.l-footer .copyright {
  color: #383E45;
  font-size: 1rem;
  text-align: center;
}

.l-main-kv {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url(../images/head-kv_001.jpg);
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 768px) {
  .l-main-kv {
    background-position: 47% center;
  }
}
.l-main-kv .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: auto;
}
@media screen and (max-width: 768px) {
  .l-main-kv .logo {
    top: 45%;
    width: 90%;
  }
}
.l-main-kv .logo img {
  width: 100%;
  height: auto;
  vertical-align: top;
}
.l-main-section-visual {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .l-main-section-visual {
    height: 95px;
  }
}
.l-main-section-visual.menu {
  background-image: url(../images/main-kv_001.jpg);
  background-position: center center;
}
.l-main-section-visual.about {
  background-image: url(../images/main-kv_002.jpg);
}
.l-main-section-visual.location {
  background-image: url(../images/main-kv_003.jpg);
}
.l-main-section-visual.news {
  background-image: url(../images/main-kv_004.jpg);
}
.l-main-title {
  color: #FFF;
  font-size: 7.2rem;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 768px) {
  .l-main-title {
    font-size: 3.2rem;
  }
}
.l-main-heading {
  display: inline-block;
  padding: 0 0 11px;
  font-size: 4rem;
  border-bottom: solid 6px #E03131;
}
@media screen and (max-width: 768px) {
  .l-main-heading {
    padding: 0;
    font-size: 2rem;
  }
}
.l-main-heading:nth-of-type(2) {
  margin: 95px 0 0;
}
@media screen and (max-width: 768px) {
  .l-main-heading:nth-of-type(2) {
    margin: 44px 0 0;
  }
}
.l-main-menu {
  margin: 20px 0 0;
}
@media screen and (max-width: 768px) {
  .l-main-menu {
    margin: 10px 0 0;
  }
}
.l-main-menu .content-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 16px;
}
@media screen and (max-width: 768px) {
  .l-main-menu .content-wrapper {
    flex-direction: column;
  }
}
.l-main-menu .content {
  text-align: center;
}
.l-main-menu .content:first-of-type {
  width: 51%;
  margin: 96px 0 0;
  padding: 0 45px 35px 55px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .l-main-menu .content:first-of-type {
    width: 100%;
    margin: 33px 0 0;
    padding: 0;
  }
}
.l-main-menu .content:first-of-type:after {
  content: "";
  position: absolute;
  top: -7px;
  right: 0;
  width: 1px;
  height: 646px;
  background-color: #000;
}
@media screen and (max-width: 768px) {
  .l-main-menu .content:first-of-type:after {
    display: none;
  }
}
.l-main-menu .content:last-of-type {
  width: 48%;
  margin: 96px 0 0;
  padding: 0 34px 35px 33px;
}
@media screen and (max-width: 768px) {
  .l-main-menu .content:last-of-type {
    width: 100%;
    margin: 45px 0 0;
    padding: 0;
  }
}
.l-main-menu .menu-list {
  display: flex;
  flex-wrap: wrap;
  color: #383E45;
  font-size: 1.44rem;
  margin: 70px 0 0;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .l-main-menu .menu-list {
    margin: 25px 0 0;
  }
}
.l-main-menu .menu-list .product {
  width: 87%;
  margin: 33.5px 0 0;
  border-bottom: dotted 1px #383E45;
}
@media screen and (max-width: 768px) {
  .l-main-menu .menu-list .product {
    margin: 35.5px 0 0;
  }
}
.l-main-menu .menu-list .product:first-of-type {
  margin: 0;
}
.l-main-menu .menu-list .price {
  width: 13%;
  margin: 33.5px 0 0;
  padding: 0 0 0 11px;
}
@media screen and (max-width: 768px) {
  .l-main-menu .menu-list .price {
    margin: 35.5px 0 0;
  }
}
.l-main-menu .menu-list .price:first-of-type {
  margin: 0;
}
.l-main-about {
  margin: 145px 0 0;
}
@media screen and (max-width: 768px) {
  .l-main-about {
    margin: 115px 0 0;
  }
}
.l-main-about .content-wrapper {
  margin: 83px auto 0;
  max-width: 1000px;
  padding: 0 16px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .l-main-about .content-wrapper {
    margin: 33px auto 0;
  }
}
.l-main-about .content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 925px;
  margin: 85px auto 50px;
}
@media screen and (max-width: 768px) {
  .l-main-about .content {
    justify-content: center;
    margin: 25px auto 40px;
  }
}
.l-main-about .content .text {
  width: 47%;
  text-align: left;
  line-height: 2;
}
@media screen and (max-width: 768px) {
  .l-main-about .content .text {
    width: 94%;
  }
}
@media screen and (max-width: 768px) {
  .l-main-about .content .text:nth-of-type(2) {
    margin: 10px 0 0;
  }
}
.l-main-about .content .text:nth-of-type(3) {
  margin: 35px 0 0;
}
@media screen and (max-width: 768px) {
  .l-main-about .content .text:nth-of-type(3) {
    margin: 10px 0 0;
  }
}
.l-main-about .content .text:nth-of-type(4) {
  margin: 35px 0 0;
}
@media screen and (max-width: 768px) {
  .l-main-about .content .text:nth-of-type(4) {
    margin: 10px 0 0;
  }
}
.l-main-location {
  margin: 150px 0 0;
}
@media screen and (max-width: 768px) {
  .l-main-location {
    margin: 80px 0 0;
  }
}
.l-main-location .content {
  max-width: 1000px;
  margin: 83px auto 0;
  padding: 0 16px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .l-main-location .content {
    margin: 33px 0 0;
  }
}
.l-main-location .content .content-flex {
  display: flex;
  gap: 75px;
  align-items: center;
  margin: 130px 0 0;
}
@media screen and (max-width: 768px) {
  .l-main-location .content .content-flex {
    flex-direction: column;
    gap: 35px;
    margin: 65px 0 0;
  }
}
.l-main-location .content .info-img img {
  width: 100%;
  height: auto;
}
.l-main-location .content .info-text address {
  margin-bottom: 40px;
  color: #383E45;
  font-size: 1.44rem;
  font-style: normal;
  text-align: left;
}
.l-main-location .content .info-text address :nth-child(1) {
  margin: 18px 0 0;
}
.l-main-location .content .info-text address :nth-child(2) {
  margin: 5px 0 0;
}
.l-main-location .content .info-text address :nth-child(3) {
  display: inline-block;
  margin: 5px 0 0;
  color: #383E45;
}
.l-main-news {
  margin: 150px 0 0;
}
@media screen and (max-width: 768px) {
  .l-main-news {
    margin: 80px 0 0;
  }
}
.l-main-news .content {
  max-width: 1000px;
  margin: 83px auto 0;
  padding: 0 16px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .l-main-news .content {
    margin: 33px 0 0;
  }
}
.l-main-news .list-items {
  text-align: left;
  margin-bottom: 50px;
}
.l-main-news .list-items .list-item {
  display: block;
  color: #000;
  border-bottom: solid 1.5px #707070;
}
.l-main-news .list-items .list-item:first-of-type {
  border-top: solid 1.5px #707070;
}
@media screen and (max-width: 768px) {
  .l-main-news .list-items .list-item {
    padding: 18.5px;
  }
}
@media screen and (min-width: 769px) {
  .l-main-news .list-items .list-item {
    transition: all ease-in-out 0.3s;
  }
  .l-main-news .list-items .list-item:hover {
    color: #E03131;
  }
  .l-main-news .list-items .list-item:hover::before {
    border-top: 1px solid #E03131;
    border-right: 1px solid #E03131;
  }
  .l-main-news .list-items .list-item:hover::after {
    background: #E03131;
  }
}
.l-main-news .list-items .list-item dl {
  position: relative;
  padding: 37px;
}
.l-main-news .list-items .list-item dl::before {
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 30px;
  width: 6px;
  height: 6px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  transform: rotate(45deg);
}
.l-main-news .list-items .list-item dl::after {
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 30px;
  width: 7px;
  height: 1px;
  background: #000;
  transform: rotate(90deg);
}
.l-main-news .list-items .list-item dl dt {
  font-size: 1.4rem;
  font-weight: bold;
}
.l-main-news .list-items .list-item dl dd {
  padding: 10px 0 0;
  font-size: 1.4rem;
  font-weight: bold;
}

.btn-more {
  display: inline-block;
  position: relative;
  width: 160px;
  height: 50px;
  line-height: 50px;
  color: #383E45;
  font-size: 1.44rem;
}
.btn-more:before, .btn-more:after {
  content: "";
  width: 20%;
  height: 50%;
  position: absolute;
  display: inline-block;
  transition: all ease-in-out 0.3s;
}
.btn-more:before {
  border-left: solid 2px #E03131;
  border-top: solid 2px #E03131;
  top: 0;
  left: 0;
}
.btn-more::after {
  border-right: solid 2px #E03131;
  border-bottom: solid 2px #E03131;
  bottom: 0;
  right: 0;
}
@media screen and (min-width: 769px) {
  .btn-more:hover:before, .btn-more:hover:after {
    content: "";
    width: 100%;
    height: 100%;
  }
}

.top-btn {
  position: fixed;
  right: 50px;
  bottom: 50px;
  transform: rotate(90deg);
  height: 50px;
  padding: 0 0 0 35px;
  border-top: solid 2px;
  color: #E03131;
  font-size: 1.6rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(18, 18, 18, 0.16);
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .top-btn {
    right: 0px;
    bottom: 20px;
  }
}
.top-btn::before {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: 0px;
  transform: rotate(35deg);
  transform-origin: left top;
  width: 15px;
  border-top: solid 2px;
}
@media screen and (min-width: 769px) {
  .top-btn {
    transition: all ease-in-out 0.3s;
  }
  .top-btn:hover {
    opacity: 0.8;
  }
}

.breadcrumb-area {
  max-width: 1000px;
  margin: 10px auto 0;
  font-family: "Helvetica Neue", "Arial", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
  font-size: 1rem;
  color: #000;
}
.breadcrumb-area .post-news-archive,
.breadcrumb-area .post-menu-archive {
  text-transform: uppercase;
}
.breadcrumb-area a {
  font-family: "Helvetica Neue", "Arial", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
  font-size: 1rem;
  color: #000;
}
@media screen and (min-width: 769px) {
  .breadcrumb-area a {
    transition: all ease-in-out 0.2s;
  }
  .breadcrumb-area a:hover {
    color: #E03131;
  }
}
@media screen and (max-width: 768px) {
  .breadcrumb-area {
    padding: 0 16px;
  }
}

.archive-news {
  margin: 0;
}
@media screen and (max-width: 768px) {
  .archive-news {
    margin: 0;
  }
}
.archive-news .content {
  min-height: calc(100vh - 595px);
  margin: 90px auto 0;
}
@media screen and (max-width: 768px) {
  .archive-news .content {
    margin: 45px 0 0;
  }
}

.single-news {
  margin: 0;
}
@media screen and (max-width: 768px) {
  .single-news {
    margin: 0;
  }
}
.single-news .content {
  max-width: 1000px;
  min-height: calc(100vh - 603px);
  margin: 100px auto 0;
  padding: 0 16px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .single-news .content {
    margin: 33px 0 0;
  }
}
.single-news .content .title {
  font-size: 6rem;
  font-weight: bold;
  text-align: left;
}
.single-news .content .date {
  margin: 20px 0 0;
  font-size: 1.4rem;
  text-align: left;
}
.single-news .content .entry-field {
  margin: 0 0 50px;
  text-align: left;
}

.page-about {
  margin: 0;
}
@media screen and (max-width: 768px) {
  .page-about {
    margin: 0;
  }
}
.page-about .l-main-heading {
  margin: 87px 0 0;
}
.page-about .l-main-heading:first-of-type {
  margin: 0;
}
@media screen and (max-width: 768px) {
  .page-about .l-main-heading {
    margin: 30px 0 0;
  }
}
.page-about .content-wrapper {
  margin: 90px auto 0;
}
@media screen and (max-width: 768px) {
  .page-about .content-wrapper {
    margin: 45px auto 0;
  }
}

.page-location {
  margin: 0;
}
@media screen and (max-width: 768px) {
  .page-location {
    margin: 0;
  }
}
.page-location .content {
  max-width: 1000px;
  margin: 83px auto 0;
  padding: 0 16px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .page-location .content {
    margin: 33px 0 0;
  }
}
.page-location .content .content-flex {
  margin: 70px 0 0;
}
@media screen and (max-width: 768px) {
  .page-location .content .content-flex {
    margin: 35px 0 0;
  }
}
.page-location .content .lead-sentence p {
  font-size: 1rem;
}
.page-location .content iframe {
  display: block;
  width: 100%;
  height: 400px;
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}
@media screen and (max-width: 768px) {
  .page-location .content iframe {
    height: 407px;
    margin: 22px 0 0;
  }
}
.page-location .content address {
  color: #383E45;
  font-size: 1.44rem;
  font-style: normal;
  text-align: left;
}
.page-location .content address :nth-child(1) {
  margin: 22px 0 0;
}
.page-location .content address :nth-child(2) {
  margin: 5px 0 0;
}
.page-location .content address :nth-child(3) {
  display: inline-block;
  margin: 5px 0 0;
  color: #383E45;
}