.archive-news {
    margin: 0;
    @include media-sp {
        margin: 0;
    }
    .content {
        min-height: calc(100vh - 595px);
        margin: 90px auto 0;
        @include media-sp {
            margin: 45px 0 0;
        }
    }
}