.archive-news {
    margin: 0;
    @include media-sp {
        margin: 0;
    }
    .content {
        max-width: 1000px;
        margin: 90px auto 0;
        padding: 0 16px;
        text-align: center;
        @include media-sp {
            margin: 33px 0 0;
        }
    }
    .news-list {
        text-align: left;
        margin-bottom: 50px;
        dl {
            padding: 37px;
            border-bottom: solid 1.5px $border-color;
            &:first-of-type {
                border-top: solid 1.5px $border-color;
            }
            @include media-sp {
                padding: 18.5px;
            }
            dt {
                font-size: 1.4rem;
                font-weight: bold;
            }
            dd {
                padding: 10px 0 0;
                font-size: 1.4rem;
                font-weight: bold;
                a {
                    color: $main-color;
                    @include media-pc {
                        transition: all ease-in-out 0.3s;
                        &:hover {
                            color: $accent-color;
                        }
                    }
                }
            }
        }
    }
}