.page-location {
    margin: 0;
    @include media-sp {
        margin: 0;
    }
    .content {
        max-width: 1000px;
        margin: 83px auto 0;
        padding: 0 16px;
        text-align: center;
        @include media-sp {
            margin: 33px 0 0;
        }
        .content-flex {
            display: flex;
            flex-direction: column;
            gap: 22px;
            align-items: start;
            margin: 70px 0 0;
            @include media-sp {
                margin: 35px 0 0;
            }
        }
        .lead-sentence {
            p {
                font-size: 1.0rem;
            }
        }
        iframe {
            display: block;
            width: 100%;
            height: 400px;
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -o-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            filter: grayscale(100%);
            @include media-sp {
                height: 407px;
                margin: 22px 0 0;
            }
        }
        address {
            color: $text-color;
            font-size: 1.44rem;
            font-style: normal;
            text-align: left;
            :nth-child(1) {
                margin: 18px 0 0;
            }
            :nth-child(2) {
                margin: 5px 0 0;
            }
            :nth-child(3) {
                display: inline-block;
                margin: 5px 0 0;
                color: $text-color;
            }
        }
    }
}