.l-header {
    &-nav {//.l-header-nev
        display: flex;
        list-style: none;
        position: absolute;
        top: 15px;
        right: 32px;
        max-width: 245px;
        width: 100%;
        z-index: 1;
        @include media-sp {
            top: 20px;
        }
        .nav-item {
            padding: 5px 12px;
            color: $sub-color;
            font-size: 1.44rem;
            font-weight: bold;
            text-shadow: 1px 1px 2px rgba(18, 18, 18, 0.16);
            @include media-pc {
                transition: all ease-in-out 0.3s;
                &:hover {
                    color: $accent-color;
                }
            }
        }
    }
}