.l-header {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(/images/head-kv_001.jpg);
    background-size: cover;
    background-position: center;
    @include media-sp {
        background-position: 47% center;
    }
    &-nav {//.l-header-nev
        display: flex;
        list-style: none;
        position: fixed;
        top: 15px;
        right: 32px;
        max-width: 245px;
        width: 100%;
        @include media-sp {
            top: 20px;
        }
        .nav-item {
            padding: 5px 12px;
            color: $sub-color;
            font-size: 1.44rem;
            font-weight: bold;
            text-shadow: 1px 1px 2px $shadow-color;
            @include media-pc {
                transition: all ease-in-out 0.3s;
                &:hover {
                    color: $accent-color;
                }
            }
        }
    }
    &-logo {//.l-header-logo
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 25%;
        height: auto;
        @include media-sp {
            top: 45%;
            width: 90%;
        }
        img {
            width: 100%;
            height: auto;
            vertical-align: top;
        }
    }
}